@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Headland+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1340px;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar-outter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 23px 50px; */
}

.navbar-logo {
    max-width: 247.76px;
    padding: 15px 0;
}

.navbar-logo img {
    width: 100%;
}

.navbar-list ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.navbar-list ul li a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
    color: #000000;
    text-transform: uppercase;
    padding-left: 20px;
}

.navbar-list ul li a:hover {
    cursor: pointer;
    font-weight: 600;
    color: #102A83;
}

.navbar-list ul li a.active {
    font-weight: 600;
    color: #E30016;
}

.navbar-right-inner .bi {
    display: none;
}

@media (max-width:1025px) {
    .navbar .bi {
        display: block;
        color: #000;
        cursor: pointer;
        font-size: 50px;
        font-weight: 700;
    }

    .navbar .bi-list {
        display: flex;
        flex-direction: row-reverse;
    }

    .navbar-list {
        height: 300vh;
        width: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        background-color: #ffffff;
        overflow-x: hidden;
        color: #000000;
        transition: 0.50s ease-in-out;
    }

    .navbar-list ul {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .navbar-list ul li a {
        font-size: 20px;
        font-weight: 500;
        margin: 20px;
        /* color: #000; */
    }

}

@media (max-width:400px) {
    .navbar-logo {
        max-width: 230px;
    }
}


/* Home section */
.home-section {
    position: relative;
    z-index: -1;
}

.swiper-wrapper video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}

.banner {
    margin-left: 70px;
    max-width: 600px;
    min-height: 800px;
    background-position: center;
    background-size: cover;
    /* margin: 0 -20px; */
}

.video-img {
    padding-bottom: 34px;
    max-width: 369px;
    margin: 0 auto;
}

.video-img img {
    width: 100%;
}

.video-titel {
    max-width: 583px;
}

.p-top-200 {
    padding-top: 200px;
}

.video-titel h1 {
    font-family: "Headland One", serif;
    font-size: 50px;
    font-weight: 400;
    line-height: 62.62px;
    text-align: left;
    color: #fff;
    width: 100%;
    padding-left: 10px;
}

.banner-right {
    float: right;
    margin-right: 70px;
}

.blue-layer {
    background: rgba(16, 42, 131, 0.5);
}

.orange-layer {
    background: rgba(240, 124, 0, 0.5);
}

.green-layer {
    background: rgba(0, 163, 44, 0.5);
}

@media (max-width:700px) {
    .banner {
        margin: 0 auto;
        float: none;
    }

    .video-titel h1 {
        font-size: 35px;
        line-height: 40px;
    }
}

/* About section */
.about-section {
    padding: 50px 0;
}

.about-titel h2 {
    font-family: "Headland One", serif;
    font-size: 40px;
    font-weight: 400;
    line-height: 50.1px;
    text-align: center;
    padding-bottom: 50px;
    color: #102A83;
}

.about-outter {
    display: flex;
    flex-wrap: wrap;
}

.about-left-inner {
    width: 640px;
}

.about-right-inner {
    width: calc(100% - 640px);
    padding-left: 20px;
}

.about-image-main {
    display: flex;
    flex-wrap: wrap;
}

.about-image-outter {
    width: 50%;
    padding: 10px;
}

.about-image {
    max-width: 310px;
}

.about-image img {
    width: 100%;
}

.about-detail p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    padding-bottom: 20px;
}

@media (max-width:1150px) {
    .about-left-inner {
        margin: 0 auto;
    }

    .about-right-inner {
        width: 100%;
        margin: 0 auto;
        padding-top: 30px;
    }
}

.about-btn a {
    text-decoration: none;
}

.read-more-btn {
    text-align: center;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    border: 1px solid #2C2C69;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
}

.read-more-btn h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #2C2C69;
    transition: 0.5s ease-in-out;
}

.read-more-btn:hover {
    background-color: #2C2C69;
}

.read-more-btn:hover h3 {
    color: #fff;
}

/* Farmer Meets */
.farming-meets-nature-section {
    padding: 50px 0;
}

.farming-meets-nature-heading-titel h1 {
    font-family: HeadlandOne;
    font-family: "Headland One", serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #102A83;
    padding-bottom: 60px;

}

.farming-meets-nature-main {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.farming-meets-nature-outter {
    width: 50%;
}

.farming-meets-nature-inner {
    max-width: 530px;
    margin: 0 auto;
}

.farming-meets-nature-inner img {
    width: 100%;
}

@media (max-width:700px) {
    .farming-meets-nature-outter {
        width: 100%;
    }
}

/* company-logo-name-bg */
.company-logo-name-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/assets/about/company-bg-logo.jpg');
    background-position: center;
    background-size: cover;
    height: 600px;
    width: 100%;
    position: relative;
    z-index: -1;
}

.company-logo-name-content {
    padding: 50px 0;
}

.company-logo-name-section {
    transition: trasform 1s ease-in-out;
}

.company-logo-titel {

    max-width: 738px;
    margin: 0 auto;
}

.company-logo {
    max-width: 446.32px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin-top: 198.51px;
    margin-left: auto;
    margin-right: auto;
}

.company-logo img {
    width: 100%;

}

.company-logo-name-section:hover .company-logo img {
    animation: rotateY-anim 2.5s linear infinite;
}

@keyframes rotateY-anim {
    0% {
        transform: rotateY(0deg);
    }

    100% {
        transform: rotateY(360deg);
    }
}

.company-logo-titel img {
    width: 100%;

}

/* Our Features */
.our-features-section {
    padding: 50px 0;
}

.our-features-headong-titel h2 {
    font-family: "Headland One", serif;
    font-size: 40px;
    font-weight: 400;
    text-align: center;
    color: #102A83;
    padding-bottom: 50px;
}

.our-feature-main {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.our-feature-outter {
    width: 25%;
    padding: 10px;
}

.our-feature-inner {
    height: 100%;
    text-align: center;
    border-radius: 40px 0 40px 0;
    max-width: 310px;
}


.box-shaow-green {
    box-shadow: 0 1px 4px 1px rgba(0, 163, 44, 0.2);
}

.box-shaow-green:hover {
    box-shadow: 0 0 4px 1px rgba(0, 163, 44, 0.9);
}

.box-shaow-orange {
    box-shadow: 0 1px 4px 1px rgba(240, 124, 0, 0.2);
}

.box-shaow-orange:hover {
    box-shadow: 0 0 4px 1px rgba(240, 124, 0, 0.9);
}

.box-shaow-vadadi {
    box-shadow: 0 1px 4px 1px rgba(0, 158, 224, 0.2);
}

.box-shaow-vadadi:hover {
    box-shadow: 0 0 4px 1px rgba(0, 158, 224, 0.9);
    ;
}

.box-shaow-blue {
    box-shadow: 0 1px 4px 1px rgba(16, 42, 131, 0.2);
}

.box-shaow-blue:hover {
    box-shadow: 0 0 4px 1px rgba(16, 42, 131, 0.9);
    ;
}

.our-feature-content {
    text-align: center;
    margin: 0 auto;
}

.our-feature-icon {
    padding: 20px 0;
}

.our-feature-titel h2 {
    font-family: "Headland One", serif;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    /* text-align: center; */
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.our-feature-detail {
    max-width: 290px;
    padding: 30px 0;
    margin: 0 auto;
}

.our-feature-detail p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.01em;
    color: rgba(0, 0, 0, 0.8);
    padding-bottom: 20px;
    text-align: center;
}

@media (max-width:1150px) {
    .our-feature-outter {
        width: 50%;
    }

    .our-feature-inner {
        margin: 0 auto;
    }
}

@media (max-width:700px) {
    .our-feature-outter {
        width: 100%;
    }
}

/* Our Products */
.our-products-section {
    padding: 50px 0;
}

.our-products-content {
    max-width: 1080px;
    margin: 0 auto;
    text-align: center;
}

.our-products-titel h2 {
    font-family: "Headland One", serif;
    font-size: 40px;
    font-weight: 400;
    /* line-height: 20px;
    letter-spacing: 0.01em; */
    color: #102A83;
    padding-bottom: 25px;
}

.our-products-detail p {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
}

.our-products--item-section{
    padding-top: 50px;
}

.product-item-main {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -10px;
}

.product-item-outter {
    width: 33.33%;
    padding: 10px;
}

.product-item-content {
    position: relative;
}

.product-item-inner:hover .orange h1 {
    color: #F07C00;
}

.product-item-inner:hover .vadadi h1 {
    color: #009EE0;
}

.product-item-inner:hover .green h1 {
    color: #00A32C;
}

.product-item-inner:hover .red h1 {
    color: #E30016;
}

.product-item-image {
    max-width: 420px;
}

.product-item-image img {
    width: 100%;
}

.product-name {
    position: absolute;
    top: 0px;
    left: 20px;
    display: flex;
    align-items: center;
    max-width: 280px;
    height: 100%;
}

.product-name h1 {
    font-family: "Poppins", sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 50px;
    text-align: left;
    text-transform: uppercase;
    color: #fff;
    padding-left: 20px;
    transition: 0.5s ease-in-out;
}

.our-see-product-btn a {
    text-decoration: none;
}

.see-all-product {
    text-align: center;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    border: 1px solid #2C2C69;
    border-radius: 30px;
    transition: 0.5s ease-in-out;

}

.see-all-product h3 {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    color: #2C2C69;
    transition: 0.5s ease-in-out;
}

.see-all-product:hover {
    background-color: #2C2C69;
}

.see-all-product:hover h3 {
    color: #fff;
}

@media (max-width:1150px) {
    .product-item-outter {
        width: 50%
    }

    .product-item-inner {
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}

@media (max-width:700px) {
    .product-item-outter {
        width: 100%
    }

    /* .product-item-inner{
        margin: 0 auto;
        display: flex;
        justify-content: center;
    } */
}

@media (max-width:400px) {
    .product-name h1 {
        /* font-family: "Poppins", sans-serif; */
        font-size: 40px;
    }

    .our-products-titel h2 {
        font-size: 35px;
    }
}

@media (max-width:350px) {
    .product-name h1 {
        /* font-family: "Poppins", sans-serif; */
        font-size: 35px;
    }

    .our-products-titel h2 {
        font-size: 30px;
    }
}

/* Contect */
.contact-section {
    padding: 50px 0;
}

.contect-outter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contect-right-inner iframe {
    border-radius: 20px 0 20px 0;
}

.content-titel h3 {
    font-family: "Headland One", serif;
    font-size: 40px;
    font-weight: 400;
    text-align: left;
    color: #102A83;
    padding-bottom: 50px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

input {
    padding: 15px 15px;
}

input,
textarea {
    box-shadow: 0 1px 4px 1px rgba(16, 42, 131, 0.2);
    font-size: 14px;
    border: none;
    border-radius: 0 20px 0 20px;
    width: 360px;
}

textarea {
    resize: none;
    width: 740px;
    height: 200px;
    padding: 10px 10px;
}

.form-group {

    padding: 10px;
    margin: 0 -10px;
}

.col {
    flex: 1 0 0%;
}

.contect-btn {
    text-align: center;
}

.contect-btn button {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    text-transform: uppercase;
    color: #2C2C69;
    transition: 0.5s ease-in-out;
    text-align: center;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px auto 0;
    border: 1px solid #2C2C69;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    background-color: transparent;
}


.contect-btn button:hover {
    color: #fff;
    background-color: #2C2C69;
}

@media (max-width:1150px) {
    .contect-right-inner iframe {
        width: 550px;
    }

    input,
    textarea {
        width: 550px;
    }

    .contect-right-inner {
        margin: 0 auto;
    }

    .contect-left-inner {
        text-align: center;
    }

    .content-titel h3 {
        text-align: center;
    }
}

@media (max-width:700px) {
    .contect-right-inner iframe {
        width: 250px;
    }

    input,
    textarea {
        width: 250px;
    }

    .footer-center-image {
        width: 100%;
        padding: 40px 0;
    }
}

@media (max-width:400px) {
    .content-titel h3 {

        line-height: 45px
    }

    .contect-btn {
        margin-bottom: 30px;
    }

}

/* Footer */
.footer {
    background-color: rgba(16, 42, 131, 0.2);
    padding: 40px 0px;
}

.footer-main {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.footer-outter {
    width: 33.33%;
}

.footer-company-logo {
    max-width: 328px;
    padding: 30px 0px;
}

.footer-company-logo img {
    width: 100%;
}

.footer-company-detail {
    max-width: 420px;
}

.footer-company-detail p {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
    text-transform: none;
}

.footer-center-image {
    max-width: 294px;
    margin: 0 auto;
}

.footer-center-image img {
    width: 100%;
}


.footer-contactus h3 {
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    text-align: left;

}

.footer-contact-content {
    display: flex;
    flex-wrap: wrap;
    /* align-items: center; */
    padding-top: 25px;
}

.footer-contect-icon {
    width: 24px;
}

.footer-comapny-followus i:hover {
    transition: 0.60s ease-in-out;
    color: #EC3136;
}


.footer-cotect-detail {
    width: calc(100% - 24px);
    padding-left: 10px;
}

.footer-cotect-detail a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
    text-align: left;
    text-decoration: none;
    color: #000;
}

@media (max-width:1150px) {
    .footer-outter {
        width: 50%;
    }
}

@media (max-width:700px) {
    .footer-outter {
        width: 100%;
    }
}

@media (max-width:400px) {

    .footer-cotect-detail a {
        font-size: 16px;
    }
}