.contactus{
    margin: 20px 0px;
    &-contacts{
        background-color: var(--menu-color-dark) !important;
        & .card{
            background-color: transparent!important;
            border:none;
            & table{
                margin-left: auto;
                margin-right: auto;
                width: 390px;
                & th, td{
                    color:white;
                    & a{
                        text-decoration: none;
                        color:white;
                        cursor: pointer;
                        &:hover{
                            color:var(--menu-color);
                        }
                    }
                    & i{
                        color:white;
                    }
                }
            }
            & .card-body{
                & .card-title{
                    margin: auto;
                    display: table;
                    font-size: 30px;
                    color:white;
                    font-weight: bold;
                }
            }
        }

        &-table{
            &-icon{
                width:30px;
            }
            &-border{
                &-bottom{
                    border-bottom:1px solid rgb(255 255 255 / 35%);
                }
            }
            &-empty{
                    height: 10px;
            }
            &-social{
                font-size: 30px;
                & a{
                    & i{
                    &:hover{
                        color:var(--menu-color)!important;
                    }
                }
                }
            }
        }
    }
    &-touch{
        & .card{
            border: none;
            & .card-body{
                & .card-title{
                    margin: auto;
                    display: table;
                    font-size: 30px;
                    font-weight: bold;
                }
            }
        }
        & .send-message-btn{
            width: 100%;
            border: 2px solid black;
            border-radius: 5px;
            font-size: 20px;;
            &:hover{
                cursor: pointer;
                background-color: var(--menu-color-dark);
                border-color:var(--menu-color-dark);
                color:white;
            }
        }
    }
}