.footer {
    &-menu{
        display: block;
        &-table{
            width: 100%; 
    display: flex;
    justify-content: center;
            &-menu{
                & h1{
                    margin: 8px 114px 8px 8px !important;
                font-size: 18px;
                }
            }
        }
    }
    &-logo {
        &-img {
            height: 70px;
            display: flex;

            & img {
                height: 50px;
                margin: 10px auto;
            }
        }

        &-name {
            text-align: center;
        }
    }
    &-quote{
        background-color: var(--menu-color-dark) !important;
        padding: 30px 0px;
        & p{
        color: #fff;
        text-align: center;
        font-size: 30px;
        }
    }
}

.list-group-item{
    border:none !important;
    padding: 0px!important;
    margin: 2px 114px 2px 8px !important;
}
